{% extends 'base.html' %}

{% block title %}| Home{% endblock %}

{% block style %}
    <style>

        button {
            transition: padding 0.5s ease !important;
        }

        button:hover {
            padding-left: 30px;
            padding-right:30px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header mt-2">
            <h1>Apps for random stuff by @Sean_or_Tony</h1>
            <hr />
        </div>
        <div class="main mt-5 mb-5">
            <h4>Available Apps</h4>

            <a href="{% url 'foodie' %}"><button class="btn btn-primary">Foodie</button></a>
            <a href="{% url 'interest_calculator'%}"><button class="btn btn-primary">Interest Calc</button></a>
            <a href="{% url 'rhymes' %}"><button class="btn btn-primary">Rhyme DB</button></a>
            <a href="{% url 'throw_a_die' %}"><button class="btn btn-primary">Throw a Die</button></a>
            <a href="{% url 'flip_a_coin' %}"><button class="btn btn-primary">Flip a coin</button></a>

        </div>
    </div>
{% endblock %}