db.sqlite3
todo.txt
security.py

.idea/
/media/
__pycache__/
seoto/__pycache__/
interest_calc/__pycache__/
foodie/__pycache__/
home/__pycache__/
rhymes/__pycache__/
throw_a_die/__pycache__/
flip_a_coin/__pycache__/
logs.txt
