asgiref
Django
gunicorn
packaging
Pillow
psycopg2-binary
python-decouple
sqlparse
tzdata
pendulum
markdown
channels
daphne
pywebpush==2.1.2
py-vapid==1.9.1
cryptography>=42.0.0,<46.0.0
Twisted[http2,tls]
random-string-detector~=1.1.1
better-profanity~=0.7.0
phonenumbers~=8.13
httpx
boto3
django-storages[s3]
django-ckeditor-5
dj-database-url
whitenoise
djangorestframework
django-cors-headers
drf-spectacular
django-otp>=1.7
qrcode>=8.2
django-jazzmin>=3.0.5