asgiref
Django
gunicorn
packaging
Pillow
psycopg2-binary
python-dotenv
sqlparse
tzdata
pendulum
markdown
channels
daphne
pywebpush==2.1.2
py-vapid==1.9.1
cryptography>=42.0.0,<46.0.0
Twisted[http2,tls]
random-string-detector~=1.1.1
httpx
boto3
django-storages[s3]
django-ckeditor-5
