{% if messages %}
    {% for message in messages %}
    <div class="container" id="message" style="transition: 1s ease">
        <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
            <strong>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Error
                    {% else %}
                        {{ message.tags | title }}
                {% endif %}
            </strong>
        {{ message }}
        </div>
    </div>
    {% endfor %}
{% endif %}

<script>
    message = document.getElementById('message')

    setTimeout(function() {
        message.style.opacity = '0';
        setTimeout(function () {
            message.style.display = 'none'
        }, 1000)
    }, 5000);
</script>