<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between">
    <div class="brand">
        <a class="navbar-brand" href="{% url 'index' %}">Seoto</a>
        {% if user.is_authenticated %}
            <a class="navbar-brand" href="
            {% if user.username in request.path_info %}
                {% url 'index' %}
            {% else %}
                {% url 'profile' user.username %}
            {% endif %}
        ">
                {% if user.first_name %}
                    | {{ user.first_name | title }}
                {% else %}
                    | {{ user.username | title }}
                {% endif %}
            </a>
        {% else %}
        {% endif %}
    </div>
    <div class="links" id="links">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'index' %}">Home</a>
            {% if user.is_authenticated %}
                <form method="POST" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="nav-item nav-link btn btn-link">Logout</button>
                </form>
            {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Sign-up</a>
            {% endif %}
        </div>
    </div>
</nav>
