{% extends "base.html" %}

{% block title %}| Login{% endblock %}

{% block style %}
    <style>
        .form {
            height: auto;
            width:50%;
            min-width: 400px;
            background-color: whitesmoke;
            padding:20px;
            border-radius: 5px;
            margin: 20px auto;
        }

        .form input {
            padding: 2px 5px;
            transition: 0.3s ease;
            border-radius: 5px;
            margin:5px;
        }

        .form input:hover {
            background-color: whitesmoke;
            padding: 5px;
        }

        .form button {
            padding: 5px;
            width: 100px;
            border-radius: 5px;
            margin:5px;
            transition: 0.5s ease;
        }
        button:hover {
            font-weight: bold;
            padding: 10px;
        }

        td {
            padding:10px;
            transition: 0.5s ease;
        }
        td:hover {
            padding: 15px;
        }

        tr {
            border-radius: 5px;
            transition: 0.5s ease;
        }
        tr:hover{
            font-weight: bold;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

    <div class="form">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Username </td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>Password </td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>

            <button class="btn btn-success" type="submit" value="login">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        <a href="{% url 'password_reset' %}"><button class="btn btn-secondary" style="width: 200px">Lost password?</button></a>
        <br />
        <a href="{% url 'register' %}" class="mt-3">Don't have an account? Create one</a>
    </div>
{% endblock %}