{% extends "base.html" %}

{% block title %}| Sent{% endblock %}

{% block style %}
    <style>
        .header {
            text-align: center;
        }

        button {
            padding: 5px;
            width: auto;
            min-width: 100px;
            border-radius: 5px;
            margin:5px;
            transition: 0.5s ease !important;
        }
        button:hover {
            font-weight: bold;
            padding: 10px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Password reset sent.</h2>
           </div>
        <div class="main">
            <div class="info">
                 <p>
                    We’ve emailed you instructions for setting your password,
                     if an account exists with the email you entered. You should receive them shortly.
                 </p>
                <p>
                    If you don’t receive an email,
                    please make sure you’ve entered the address you registered with, and check your spam folder.
                </p>

            </div>
            <div class="buttons">
                <a href="{% url 'index' %}"><button class="btn btn-warning">Go Home</button></a>
            </div>
        </div>
    </div>
{% endblock %}