{% extends "base.html" %}

{% block title %}| Sign-up{% endblock %}

{% block style %}
    <style>
        .header {
            text-align: center;
        }
        .main {
            max-width: 600px;
            margin: auto;
        }
    </style>
    {% include 'partials/_form_style_bootstrap.html' %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Sign-up</h2>
            <p>Create an account with Seoto</p>
        </div>
        <div class="main">
            <div class="form">
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <div class="form-group">
                    <div class="form-row">
                        <div class="col-sm-3">
                            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        </div>
                        <div class="col-md-9">
                            {{ field }}
                            {% if field.help_text %}
                              <small id="{{ field.id_for_label }}Help" class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                              <small class="form-text text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                    </div>
                  </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Sign up</button>
              </form>
            </div>
        </div>
    </div>
{% endblock %}