{% extends "base.html" %}

{% block title %}| Sign-up{% endblock %}

{% block style %}
    <style>
        .header {
            text-align: center;
        }
        .form {
            height: auto;
            min-width: 500px;
            background-color: whitesmoke;
            padding:20px;
            border-radius: 5px;
            margin: 20px auto;
        }

        .form input {
            padding: 2px 5px;
            transition: 0.3s ease;
            border-radius: 5px;
            margin:5px;
        }

        .form input:hover {
            background-color: whitesmoke;
            padding: 5px;
        }

        .form button {
            padding: 5px;
            width: 100px;
            border-radius: 5px;
            margin:5px;
            transition: 0.5s ease;
        }
        button:hover {
            font-weight: bold;
            padding: 10px;
        }

        td {
            padding:10px;
            transition: 0.5s ease;
        }
        td:hover {
            padding: 15px;
        }

        tr {
            border-radius: 5px;
            transition: 0.5s ease;
        }
        tr:hover{
            font-weight: bold;
            background-color: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Sign-up</h2>
        </div>
        <div class="main">
            <div class="form">
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Sign up</button>
              </form>
            </div>
        </div>
    </div>
{% endblock %}