{% load i18n %}
{% for model in models %}
    <tr>
        <td>
            {% if model.url %}<a href="{{ model.url }}">{{ model.name }}</a>{% else %}{{ model.name }}{% endif %}
        </td>
        <td>
            <div class="btn-group float-end">
                {% if model.add_url %}
                    <a href="{{ model.add_url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.success }} addlink">{% trans 'Add' %}</a>
                {% endif %}
                {% if model.url %}
                    {% if model.view_only %}
                        <a href="{{ model.url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.info }} viewlink">{% trans 'View' %}</a>
                    {% else %}
                        <a href="{{ model.url }}" class="btn btn-sm {{ jazzmin_ui.button_classes.info }} changelink">{% if model.custom %}{% trans 'Go' %}{% else %}{% trans 'Change' %}{% endif %}</a>
                    {% endif %}
                {% endif %}
            </div>
        </td>
    </tr>
{% endfor %}
