{% extends 'base.html' %}

{% load static %}

{% block title %}| Jotter{% endblock %}

{% block style %}
    <style>
        .header {
            text-align: center;
        }
        .list-group-item {
            transition: 0.5s ease;
        }
        .list-group-item:hover {
            padding-bottom: 20px;
        }
        .completed small {
            padding:0 20px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Jotter</h2>
            <p>The lazy way to make reminders or track your anime, movies, books & manga </p>
        </div>
        <div class="main">
            <div class="add">
                <a href="{% url 'new_to_do' %}"><button class="btn btn-primary mb-2">Add a new Reminder or make a Note</button></a>
                <a href="{% url 'new_to_track' %}"><button class="btn btn-primary mb-2">Add a show or book to keep track</button></a>
            </div>
            <div class="tracker mt-5">
                {% if tracker_list %}
                    <div class="title">
                        <h4>Currently watching/reading</h4>
                    </div>
                    <div class="tracker-items list-group">
                        {% for item in tracker_list %}
                            <a href="{% url 'edit_to_track' item.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1">{{ item.title | title}}</h5>
                                    <div class="completed">
                                        <small class="text-muted">{{ item.category }}</small>
                                    </div>
                                </div>
                                {% if item.link %}
                                    <p class="mb-1">Continue at {{ item.link }},</p>
                                {% endif %}
                                {% if item.episode and item.chapter %}
                                    <p class="mb-1">Currently on chapter {{ item.chapter }}, episode {{ item.episode }}</p>
                                {% else %}
                                    {% if item.episode %}
                                        <p class="mb-1">Currently on episode {{ item.episode }}</p>
                                    {% endif %}
                                    {% if item.chapter %}
                                        <p class="mb-1">Currently on Chapter {{ item.chapter }}</p>
                                    {% endif %}
                                    {% if item.timestamp %}
                                        <small class="text-muted">Left at on: {{ item.timestamp }}</small>
                                    {% endif %}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>Nothing is currently being tracked.</h4>
                    <p>Add shows, books or manga to keep track of your latest episode/chapter.</p>
                {% endif %}
            </div>
            <div class="todo mt-5">
                {% if todo_list %}
                    <div class="title">
                    <h4>Notes & Reminders</h4>
                    </div>
                    <div class="todo-items list-group">
                        {% for item in todo_list %}
                            <a href="{% url 'edit_todo' item.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex justify-content-between">
                                    <h5 class="mb-1">{{ item.title | title}}</h5>
                                    <div class="completed">
                                        <small class="text-muted">{{ item.priority }} priority</small>
                                    </div>
                                </div>
                                {% if item.notes %}
                                    <p class="mb-1">{{ item.notes }}</p>
                                {% endif %}
                                {% if item.reminder %}
                                    <small class="text-muted">Reminder on: {{ item.reminder }}</small>
                                {% else %}
                                    <small class="text-muted">No reminder set.</small>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <h4>The Todo-List is empty</h4>
                    <p>Add items to be reminded.</p>
                {% endif %}
            </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}