{% extends 'base.html' %}

{% load static %}

{% block title %}| Jotter{% endblock %}

{% block style %}
    <style>
        .header {
            text-align: center;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="header">
            <h2>Jotter</h2>
            <p>The smart way to make reminders or track your anime, movies, books & manga </p>
        </div>
        <div class="main">
        <div class="add">
            <a href="#"><button class="btn btn-primary">Add a new Reminder or make a Note</button></a>
            <a href="#"><button class="btn btn-primary">Add a show or book to keep track</button></a>
        </div>
            <div class="tracker mt-5">
            {% if tracker_list %}
                <div class="title">
                    <h5>Currently watching/reading</h5>
                </div>
                <div class="list">
                        <ul class="list-group">
                            {% for tracker_item in tracker_list %}
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                {{ tracker_item.title }}. {% if tracker_item.timestamp %}| time: {{ tracker_item.timestamp }} {% endif %}
                                <span class="badge badge-primary badge-pill">{{ tracker_item.episode_or_chapter }}</span>
                              </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <h4>Nothing is currently beign tracked.</h4>
                        <p>Add shows, books or manga to keep track of your latest episode/chapter.</p>

                </div>
            {% endif %}
            </div>

            <div class="todo mt-5">
                {% if todo_list %}
                    <div class="row">
                      <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                            {% for todo_item in todo_list %}
                                <a class="list-group-item list-group-item-action" id="list-{{ todo_item.title }}-list" data-toggle="list" href="#list-{{ todo_item.title }}" role="tab" aria-controls="{{ todo_item.title }}">
                                    <span class="badge badge-primary badge-pill">{{ todo_item.priority }} priority</span> | {{ todo_item.title }}
                                </a>
                            {% endfor %}
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">
                            {% for todo_item in todo_list %}
                                <div class="tab-pane fade" id="list-{{ todo_item.title }}" role="tabpanel" aria-labelledby="list-{{ todo_item.title }}-list">
                                    Test
                                </div>
                            {% endfor %}
                        </div>
                      </div>
                    </div>
                {% else %}
                    <h4>The Todo-List is empty</h4>
                    <p>Add items to be reminded.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>

    </script>
{% endblock %}