/* global styles */

a:link, a:visited {
    color: black;
    transition: 0.5s ease;
}
a:hover {
    color: #e3e3e3;
}


/* Header and Title*/
#header {
    background-color: whitesmoke;
    height: 50px;
}
#branding h1 {
    color:black;
}
#user-tools {
    color: black;
}

#header a {
    color:black;
    transition: 0.3s ease;
}
#header a:hover {
    color: darkolivegreen;
}
#header a:visited {
    color: black;
}


/* Breadcrumbs */
div .content table {
    background-color: white;
    border-radius: 10px;
}

div .breadcrumbs {
    background-color: #7e7e7e;
    color: white;
    transition: 0.3s ease;
}
div.breadcrumbs a {
    color: white;
}
div.breadcrumbs a:hover {
    color: darkolivegreen;
}


/* Sidebar */
.module h2, .module caption, .inline-group h2 {
    background-color: whitesmoke;
}


@media (prefers-color-scheme: dark) {
    a:link, a:visited {
        color: whitesmoke;
        transition: 0.5s ease;
    }
    a:hover {
        color:white;
    }

    /* Sidebar */
    .module h2, .module caption, .inline-group h2 {
        background-color: darkgray;
    }

    /* Submit Form Buttons */
    .submit-row input {
        background-color: whitesmoke;
        color: black;
        transition: 0.3s ease;
    }

    .submit-row input:hover, .submit-row input.default {
        background-color: #8a8a8a;
        color: white;
        transition: 0.3s ease;
    }

    .submit-row input.default:hover {
        background-color: whitesmoke;
        color:black;
    }

}
@media (prefers-color-scheme: light) {
    a:link, a:visited {
        color: black;
        transition: 0.5s ease;
    }
    a:hover {
        color:black;
    }

    /* Sidebar */
    .module h2, .module caption, .inline-group h2 {
        background-color: darkgray;
    }

    /* Submit Form Buttons */
    .submit-row input {
        background-color: whitesmoke;
        color: black;
        transition: 0.3s ease;
    }

    .submit-row input:hover, .submit-row input.default {
        background-color: #8a8a8a;
        color: white;
        transition: 0.3s ease;
    }

    .submit-row input.default:hover {
        background-color: whitesmoke;
        color:black;
    }
}