{% extends 'base.html' %}

{% block title %}| Rhyme DB{% endblock %}

{% block style %}
    <style>
        .list-group {
            max-height: 60vh;
            overflow-y: auto;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="header">
            <h2>Type in the Rhyme you want and hit the button</h2>
        </div>
    <div class="main mt-3">
        <div class="inputbox">
            <form action="{% url 'rhymes' %}" method="post">
                {% csrf_token %}
                <div class="form-inline">
                    <button class="btn btn-success" type="submit">Find</button>
                    <div class="form-group">
                        <input type="text" name="rhyme" class="form-control">
                    </div>
                </div>
            </form>
        </div>
        <div class="rhymes mt-5">
            {% if words %}
                <h5>{{ amount }} available words that rhyme with "{{ input }}"</h5>
                <ol class="list-group">
                    {% for word in words %}
                        <li class="list-group-item">{{ word | title }}</li>
                    {% endfor %}
                </ol>
                <a href="{% url 'rhymes_download' %}"><button class="btn btn-primary mt-3" type="button">Download</button></a>
            {% else %}
                {% if input %}
                <h3>Nothing goes with '{{ input }}'</h3>
                {% endif %}
            {% endif %}
            {% if input %}
            {% endif %}
        </div>
    </div>
    </div>

{% endblock %}