{% extends 'base.html' %}

{% block title %} - Approve Recurring Transaction {% endblock %}

{% block style %}
    {% include 'spending_tracker/partials/_aura_head.html' %}
{% endblock %}

{% block content %}
    <div class="header">
        <h1>
            <a href="{% url 'spending_tracker:recurring_list' %}" class="crumb">Recurring Transactions</a> ·
            Approve
        </h1>
    </div>

    <div class="main">
        {% include 'spending_tracker/partials/_confirm_occurrence_form.html' %}
    </div>
{% endblock %}
